/* style sheet--*/
body {
  background: #FFE4D9;
  font-family: 'Merriweather', serif;
  margin: 0;
	width:100%;
}

.top {
  background: #CCB08F;
  padding-top:100px;
  padding-bottom:50px;
  width: 100%;
}

.middle {
  background: #FFE4D9;
	margin-left:25%;
  width: 50%;
}

.bottom {
	background:#FFE4D9;
  text-align:center;
	margin-left:25%;
  width:50%;
}

hr {
  border-style: none;
  border-color: #805746;
  border-top-style: dotted;
  border-width: 6px;
  margin: 0 48% 0;
  width: 4%;
}

h1 {
  color: #805746;
  font-family: 'Sacramento', cursive;
  font-size: 4.5em;
  margin: 0 auto 0 auto;
	text-align:center;
}

h2 {
  color: #805746;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto 0 auto;
	text-align:center;
}

h3{
  color: #805746;
  font-family: 'Montserrat', sans-serif;

}

p {
  color: #805746;
  font-family: 'Montserrat', sans-serif;
  font-size:1.5em;
  text-align:justify;
}

pre {
	background: #FFE4D9;
	color: #805746;
  font-family: 'Montserrat', sans-serif;
	font-size:1.5em;
	text-align:center;
}

.section {
  background: #FFE4D9;
  margin-left:25%;
  width: 50%;
  text-align:justify;
}

.center {
	text-align:center;
}

.top-cloud {
margin-left:30%;
}

.bottom-cloud {
  margin-left: 60%;
}

.link a {
  color: #805746;
  background-color: #FFE4D9;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  margin-left: 0%;
  width: 20%;
}

a:hover {
  color: #805746;
  background-color:#CCB08F;
}

.footer {
	background: #CCB08F;
	color: #805746;
	margin-bottom:0;
  width: 100%;
}

#nav {
   width:30%;
   margin-left:60% ;
 }

 #nav ul {
   margin:0px;
   padding:0px;
   list-style-type:none;
 }

 #nav li {
   display:inline;
 }

 #nav a {
   width:20%;
   padding:10px 30px;
   color:#805746;
   text-decoration:none;
   margin:auto ;
 }

 #nav a:hover {
   color:#805746;
   background: #FFE4D9;
 }
